<div class='header'>
	<nav>
		<a href='/'>Publicar <i class='fas fa-paper-plane'></i></a>
		<a href='/post'>Post <i class='far fa-eye'></i></a>
		<a href='#' class='logout'>Salir <i class='fas fa-sign-out-alt'></i></a>
	</nav>
</div>