:root {
	--primary-light: #fbf5ef;
	--secundary-light: #f2d3ab;
	--secundary-light-shadow: #1b1b2f;
	--primary-acent: #c69fa5;
	--secundary-acent: #8b6d9c;
	--primary-black: #272744;
	--secundary-black: #494d7e;
	--primary-black-acent: #23233d;
	--danger: #b62558;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	/* background-color: var(--primary-black); */
	font-family: 'Nunito', sans-serif;
	background-color: #272744;
	opacity: 1;
	background-image: radial-gradient(#23233d 3px, transparent 3px),
		radial-gradient(#23233d 3px, #272744 3px);
	background-size: 34px 34px;
	background-position: 0 0, 17px 17px;
}

/*TODO: LOGIN #####################**/
.error {
	border-radius: 7px;
	opacity: 0;
	margin: 0;
	width: 280px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 15px;
	text-align: center;
	font-size: 1rem;
	font-weight: 700;
	color: var(--primary-light);
	background-color: var(--danger);
}
.error.active {
	opacity: 1;
	animation: errorView 1s ease-in 0s 1 normal forwards;
}
@keyframes errorView {
	0% {
		top: 50%;
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		top: 20%;
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		top: 30%;
		animation-timing-function: ease-in;
	}
	72% {
		top: 22%;
		animation-timing-function: ease-out;
	}
	81% {
		top: 28%;
		animation-timing-function: ease-in;
	}
	90% {
		top: 24%;
		animation-timing-function: ease-out;
	}
	95% {
		top: 28%;
		animation-timing-function: ease-in;
	}
	100% {
		top: 25%;
		animation-timing-function: ease-out;
	}
}

.login {
	margin: 0;
	width: 360px;
	border-radius: 14px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 30px;
	background-color: var(--primary-black-acent);
}
.login input {
	outline: none;
	border: none;
	border-radius: 2em;
	width: calc(100%);
	padding: 8px 15px;
	background: none;
	font-size: 1.2rem;
	font-weight: 700;
	color: var(--primary-black);
	margin: 15px 0;
	background-color: var(--secundary-light);
}

.login button {
	border: none;
	border-radius: 2em;
	padding: 8px;
	text-align: center;
	color: var(--primary-light);
	width: 100%;
	margin: 20px 0;
	font-size: 1.3rem;
	font-weight: 700;
	outline: none;
	background-color: var(--secundary-black);
	box-shadow: 0 5px 0 var(--secundary-light-shadow);
}
.login button:active {
	transform: translateY(2px);
	box-shadow: 0 3px 0 var(--secundary-light-shadow);
}
.login button:disabled {
	color: var(--secundary-black);
	background-color: var(--primary-black);
	box-shadow: 0 3px 0 var(--secundary-light-shadow);
	animation: pulsate-bck 1s ease-in-out infinite both;
}

/*TODO: HOME #####################**/
.container-home {
	max-width: 500px;
	width: 100%;
	background-color: var(--primary-black-acent);
	margin: 2em auto;
	padding: 30px;
	/* border-radius: 14px; */
	color: var(--primary-light);
	font-weight: 700;
}
.post {
	width: 100%;
}
.post-input {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.post-input label {
	width: 200px;
	margin-right: 10px;
	margin-bottom: 6px;
	font-size: 16px;
}
.post-input input,
.post-input textarea {
	width: 100%;
	outline: none;
	border: none;
	font-size: 16px;
	font-weight: 600;
	padding: 8px 10px;
	border-radius: 3px;
	transition: all 0.3s ease;
	background-color: var(--secundary-light);
	color: var(--primary-black);
}
/**************************/
.post-input input[type='file'] {
	background-color: var(--secundary-light-shadow);
	color: var(--primary-light);
	cursor: pointer;
}
.custom-file-input::-webkit-file-upload-button {
	visibility: hidden;
}
.custom-file-input::before {
	content: 'Seleccione sus Imagenes';
	display: inline-block;
	border: 2px dotted var(--primary-light);
	border-radius: 8px;
	padding: 5px 8px;
	outline: none;
	white-space: nowrap;
	font-weight: 700;
	font-size: 10pt;
}
.custom-file-input:hover::before {
	border-color: var(--secundary-black);
	color: var(--secundary-black);
}

/***********************/
.post-input textarea {
	width: 100%;
	height: 125px;
	resize: none;
}

.post-input button {
	width: 100%;
	padding: 8px 10px;
	font-size: 1.3rem;
	font-weight: 700;
	border: none;
	border-radius: 2em;
	background-color: var(--secundary-black);
	color: var(--primary-light);
	box-shadow: 0 5px 0 var(--secundary-light-shadow);
	cursor: pointer;
	outline: none;
}
.post button:active {
	transform: translateY(2px);
	box-shadow: 0 3px 0 var(--secundary-light-shadow);
}
.post button:disabled {
	color: var(--secundary-light-shadow);
	/* background-color: var(--primary-black); */
	background: rgb(27, 27, 47);
	background: linear-gradient(
		90deg,
		rgba(27, 27, 47, 1) 0%,
		rgba(73, 77, 126, 1) 100%,
		rgba(27, 27, 47, 1) 100%
	);
	box-shadow: 0 3px 0 var(--secundary-light-shadow);
	animation: pulsate-bck 1s ease-in-out infinite both;
}
@keyframes pulsate-bck {
	0% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 0%,
			rgba(27, 27, 47, 1) 100%
		);
	}
	10% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 20%,
			rgba(27, 27, 47, 1) 100%
		);
	}
	20% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 40%,
			rgba(27, 27, 47, 1) 100%
		);
	}
	30% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 60%,
			rgba(27, 27, 47, 1) 100%
		);
	}
	40% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 80%,
			rgba(27, 27, 47, 1) 100%
		);
	}
	50% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 100%,
			rgba(27, 27, 47, 1) 100%
		);
	}
	60% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 80%,
			rgba(27, 27, 47, 1) 100%
		);
	}
	70% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 60%,
			rgba(27, 27, 47, 1) 100%
		);
	}
	80% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 40%,
			rgba(27, 27, 47, 1) 100%
		);
	}
	90% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 20%,
			rgba(27, 27, 47, 1) 100%
		);
	}
	100% {
		background: linear-gradient(
			90deg,
			rgba(27, 27, 47, 1) 0%,
			rgba(73, 77, 126, 1) 0%,
			rgba(27, 27, 47, 1) 100%
		);
	}
}

@media (max-width: 420px) {
	.post-input {
		flex-direction: column;
		align-items: flex-start;
	}
	.post-input label {
		margin-bottom: 5px;
	}
}

/*TODO: POST #####################**/
.deleted {
	width: 100%;
	padding: 8px 10px;
	font-weight: 700;
	border: none;
	background-color: var(--danger);
	color: var(--primary-light);
	cursor: pointer;
	outline: none;
}
.deleted:active {
	background-color: var(--primary-light);
	color: var(--danger);
}
.deleted:disabled {
	background-color: var(--primary-black-acent);
	color: var(--secundary-black);
}
.container-post {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 2em;
}
.post-view {
	background-color: var(--secundary-light-shadow);
	width: 350px;
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	opacity: 0;
	animation: postview 0.5s ease-in-out 0s 1 normal forwards;
}
@keyframes postview {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.post-view .content {
	flex-grow: 2;
	padding: 1em;
}
.post-view .content span {
	display: block;
	color: var(--secundary-acent);
	text-align: end;
	font-weight: 700;
	margin-bottom: 5px;
}
.post-view .content p {
	color: var(--primary-light);
	text-align: justify;
}
/**SLIDER*/
.carousel {
	/* overflow: hidden; */
	max-width: 350px;
	height: 200px;
	position: relative;
	margin-bottom: 1em;
	user-select: none;
}
.carousel .counter-item {
	position: absolute;
	margin: 0.5em;
	right: 0;
	color: var(--primary-light);
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	border-radius: 2px;
}
.carousel .carousel_item {
	display: none;
}

.carousel .carousel_item .img {
	width: 100%;
	max-width: 350px;
	height: 200px;
	object-fit: cover;
}

.carousel .carousel_item--visible {
	display: block;
	/* animation: fadeVisibility 0.5s; */
}
@keyframes fadeVisibility {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: opacity linear;
	}
}

.carousel .carousel_actions {
	width: 100%;
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 0;
	bottom: 0;
	transform: translateY(100%);
}

.carousel .carousel_actions button {
	border-radius: 0;
	border: none;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	width: 50%;
	background-color: var(--primary-black-acent);
	box-shadow: 0 5px 0 var(--secundary-light-shadow);
	color: var(--primary-light);
	padding: 4px;
}
.carousel .carousel_actions button:hover {
	background-color: var(--primary-black);
}
.carousel .carousel_actions button:active {
	transform: translateY(3px);
	background-color: var(--primary-black);
	box-shadow: 0 2px 0 var(--secundary-light-shadow);
}
.carousel .carousel_actions button i {
	pointer-events: none;
}
/*TODO: HEADER #####################**/

.header {
	width: 100%;
	height: 3em;
	background-color: var(--primary-black-acent);
	box-shadow: 0 5px 0 var(--secundary-light-shadow);
	line-height: 3em;
	display: flex;
	flex-direction: row-reverse;
}
.header nav a {
	text-decoration: none;
	color: var(--primary-light);

	margin: 0 0.5em;
}
